#page {
    width: 900px;
    margin: auto;
    margin-top: 100px;
    background-color: #080808;
    border: 1px solid #ab0000;
    border-radius: 7px;
    padding: 30px;
}
h1{
    display: inline-block;
        font-size: 20px;
                    margin-bottom: -12px;
    margin-top: 10px;
}
* {
    font-family: 'Roboto', sans-serif;
        color: #f8f9fa;
}
#select1, #select1 option, input{
color: black !important;}
body{
background-color:black;}
.btn{
color: #fff !important;
border-radius: 0px !important;
background-color:#1997c6;}
hr{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#select1, input {
    color: black !important;
    margin-bottom: 15px;
}
#left{
width: 300px;
    display: inline-block;
    vertical-align: top;}
        table{
        display:inline-block;
        margin-left:40px;
        }
        td {
    padding: 2px;
    padding-left: 20px;
}
#right{
width: 400px;
    display: inline-block;
    vertical-align: top; }


#header{
width:100%;
height:150px;
}
td{border: 1px solid;}
#keywordadded{
color: green;
display:none;
}
select, option {
    color: black;
    margin-bottom: 20px;
}
img {
    height: 139px;
    margin-right: 10px;
margin-top: -30px;
}
#right, #left{
    width: 410px;
    display: inline-block;
    vertical-align: top;}
.input{
display:inline-block;}
.btn {
    color: #fff !important;
    border-radius: 0px !important;
    background-color: #bd0000;
    width: 140px;
    font-size: 18;
}
